* {
    --secondryColor: #f156d1;
    font-family: "Roboto", sans-serif;
    background-color: var(--primryColor);
    color: white;
    --cardColor: #151419;
  }
.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoContainer > span{

    padding-left: 10px;
}
body{
    background-color:  #151419;;
}
.mainContainer{
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    display: inline-block;
    margin: 20px;
    transition: 1s;
    box-shadow: 1rem 0 3rem black;
    height: 500px;
    background-color:#212529 !important;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 1rem 0 3rem var(--secondryColor);
  }
  .animeName{
      color: var(--secondryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-size: 20px;
    font-weight: bold;
  }

  /* Anime page */


  .outerDiv{

    display: flex;
    width: 95%;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #212529;
    height:80vh;
    display: flex;

  }
  .animeImg{
    height: 100%;
  }
  .right{
    flex: 2;
  }
  .title{
    text-align: center;
    margin: 10px;
    color:var(--secondryColor);
  }
  .orignalTitle{
    text-align: center;
  }
  .descConatainer{
    margin: 25px auto;
    width: 80%;
  }
  .infoContainer{
    padding: 10px;
    border-radius: 5px;
    background-color:#151419;
    margin: 10px;
    color: var(--secondryColor);
  }
  .desc{
    margin-top: 20px;
  }
  table{
    width: 80%;
    margin: 20px auto;
    border: 1px solid var(--secondryColor);
    border-radius: 5px;
  }
  td,th{
    text-align: center;
    border: 1px solid var(--secondryColor);
    padding: 10px 5px;
  }
  @media screen and (max-width:800px) {
    
    .outerDiv{
      flex-direction: column;
      height: unset;
    }
    .animeImg{
     width: 80%;
    }
    .left{
      display: flex;
      justify-content: center;
    }
  }
